{% assign google_fonts = site.google_fonts %}
{% assign font_heading = site.font_heading %}
{% assign font         = site.font         %}

{% include        head/meta.html %}
{% include_cached head/meta-static.html %}

{% include        head/links.html lang=page.lang %}
{% include_cached head/links-static.html %}

{% include_cached head/scripts.html %}

{% include_cached head/styles.html layout=page.layout color=color theme_color=theme_color %}

{% include my-head.html %}
<link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
 <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
 <script src="/assets/tipuesearch/tipuesearch.min.js"></script>
 <script src="/assets/manbalboy.js"></script>
 
 <meta name="google-site-verification" content="vD5UjtZFfMEX6ByPIEariPz9X_zcm2TxumcRG50d64o" />
 <meta name="naver-site-verification" content="7a648cec4e9a60d79f21ccf0705cf0d44dc9bb99" />